<!DOCTYPE html>
<html>
<head>
<style>
p{
    padding: 10px
}
</style>
<title>MetaData Page</title>
</head>
<body>
    <h1>  Here is some metadata from the images in the project's storage bucket </h1>
        <figure>
           <p> {{meta_data1}}</p>
        <figcaption>MetaData: Sasha</figcaption>
        </figure>
        <figure>
            <p>{{meta_data2}} </p>
    	<figcaption>MetaData: Molly</figcaption>
    	</figure>
        <figure>
            <p> {{meta_data3}}</p>
        <figcaption>MetaData: Cassie</figcaption>
        </figure>
</body>
</html>
